.DS_Store
.obsidian/
.obsidian/plugins/obsidian-book-search-plugin/data.json

# Obsidian Agent System Ignore
.obsidian-agent/cache/
.obsidian-agent/venv/
.obsidian-agent/*.html
.obsidian-agent/graph.json

# Obsidian - working copy(mobile - iphone) Ignore
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/workspace.json.bak
.obsidian/workspace.json
.obsidian/workspace-mobile.json
